<h1>Here will be my catalog!</h1>


<ul class="items">
  <% @items.each do |item| %>
      <li>
        <%= item.name %>
        <%= item.avatar %>
        <%= item.description %>
        <p> Category: </p>
            <% @categories.each do |category| %>
            <% if item.categories(params[:category_id]) == category.id  %> # idk how display category name
                <%= category.name %>
            <% end %>
        <% end %>
        <% if item[:category_id].nil? %>
            <p> This item doesn't have category. </p>
        <% end %>
      </li>
      </br>
  <% end %>
</ul>