<h1> Categories </h1>


<ul class="items">
  <% @categories.each do |category| %>
    <li>
      <p> Category name: </p> <%= category.name %>
      <p> Parent Category: </p>
        <% @categories.each do |f| %>
          <% if category.parent_id == f.id %>
            <%= f.name %>
          <% end %>
        <% end %>
      <% if category.parent_id.nil? %>
          <p> This category doesn't have parent categories. </p>
      <% end %>
      <p> Items: </p>
      <% if category.items.any? %>
          <p>
            <% category.items.each do |item| %>
                <%= link_to item.name, item_path(item) %>
            <% end %>
          </p>
      <% else %>
          <p> This category doesn't have items! </p>
      <% end %>
  <% end %>
  </li>
</ul>