<%=flash.now[:success] = 'New category created!' %>
<h3>Category name: </h3>  <%= @category.name %> </br>


<% @categories.each do |f| %>
    <% if @category.parent_id == f.id %>
        <h3>Parent category: </h3>
        <%= f.name %>
    <% end %>

    <% if f.items.any? %>
        <p> Items: </p>
    <p>
      <% f.items.each do |item| %>
          <%= link_to item.name, item_path(item) %>
      <% end %>
    </p>
    <% else %>
        <p> This category doesn't have items! </p>
    <% end %>
<% end %>