<%=flash.now[:success] = 'New category created!' %>
<h3>Category name: </h3>  <%= @category.name %> <br>



    <% if @category.parent_id.nil? %>
        <h4> This category doesn't have parent category.</h4><br>
    <% else %>
        <h3>Parent category: </h3>
        <%= @category.name %>
    <% end %>

    <% if @category.items.any? %>
        <p> Items: </p>
    <p>
      <% @category.items.each do |item| %>
          <%= link_to item.name, item_path(item) %>
      <% end %>
    </p>
    <% else %>
        <p> This category doesn't have items! </p>
    <% end %>
